<launch>
    <!-- Launch mavros with custom parameters -->
    <include file="$(find mavros)/launch/apm.launch">
        <arg name="fcu_url" value="/dev/ttyAMA0:921600"/>
    </include>

    <!-- Set sensor rate -->
    <!-- <node name="mavros_rate" pkg="mavros" type="mavsys" args="rate - -raw-sensors 200" output="screen"/> -->
    <node name="setRates" pkg="squid_package" type="setRates" output="screen"/>

    <!-- Launch the correct_imu node -->
    <node name="correct_imu_node" pkg="squid_package" type="correct_imu.py" output="screen">
        <param name="sample_duration" value="3"/>
        <param name="initial_wait_duration" value="2"/>
    </node>

    <!-- Node start delay -->
    <arg name="node_start_delay" default="10.0" />  

    <!-- Launch stereo camera -->
     <!-- launch-prefix="bash -c 'sleep 2; $0 $@' " -->
    <node name="stereo_image_splitter" pkg="squid_package" type="split_stereo_image.py" output="screen">
        <param name="video_device" value="/dev/video6"/>
        <param name="frame_rate" value="30" />
        <param name="video_width" value="640" />
        <param name="video_height" value="240" />
    </node>

    <!-- Launch camera_right -->
    <!-- <node name="camera_right" pkg="usb_cam" type="usb_cam_node" output="screen" launch-prefix="screen -L -dmS camera_down">
        <param name="video_device" value="/dev/video0"/>
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="camera_right"/>
        <param name="framerate" value="30"/>
    </node> -->

    <!-- Launch camera_left -->
    <!-- <node name="camera_left" pkg="usb_cam" type="usb_cam_node" output="screen" launch-prefix="screen -L -dmS camera_down">
        <param name="video_device" value="/dev/video4"/>
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="camera_left"/>
        <param name="framerate" value="30"/>
    </node> -->

    <!-- Launch camera_down -->
    <node name="camera_down" pkg="usb_cam" type="usb_cam_node" output="screen" launch-prefix="screen -L -dmS camera_down">
        <param name="video_device" value="/dev/video2"/>
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="camera_down"/>
        <param name="framerate" value="30"/>
    </node>

    <!-- Launch the servo_controller node -->
    <!-- <node name="servo_controller_node" pkg="squid_package" type="deploy_arms.py" output="screen">
        <param name="acceleration_threshold" value="2.0"/>
        <param name="servo_high_value" value="1100"/>
        <param name="servo_low_value" value="1475"/>
        <param name="deploy_delay" value="1"/>
        <param name="lock_delay" value="1"/>
    </node> -->

    <!-- Launch the openvins node -->
    <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="openvins_folder_name" default="stereo" />  
    <include file="$(find ov_msckf)/launch/subscribe.launch">
        <arg name="config_path" value="/shared_folder/openvins_config_$(arg openvins_folder_name)/estimator_config.yaml"/> 
        <arg name="use_stereo" value="false"/>
        <arg name="max_cameras" value="1"/>
        <arg name="verbosity" value="WARNING" /> 
    </include>

    <!-- Launch VIO relay -->
    <node name="vio_relay" pkg="squid_package" type="vio_relay.py" output="screen"/>

    <!-- Launch set origin -->
    <node name="set_origin" pkg="squid_package" type="set_origin.py" output="screen"/>

</launch>
